#contact {
  position: relative;
  // &::after , &::before {
  //   content: '';
  //   // @media screen and (min-width: 700px) {
  //   //   content: '';
  //   // }
  //   width: 28.125rem;
  //   height: 28.125rem;
  //   border-radius: 28.125rem;
  //   background-color: #7c66e3;
  //   position: absolute;
  //   filter: blur(225px);
  //   & {
  //     -webkit-animation: mover 5s infinite  alternate;
  //     animation: mover 5s infinite  alternate;
  //   }
  // }
  // &::after {
  //   top: 10rem;
  //   left: 8rem;
  // }
  // &::before {
  //   bottom: 3rem;
  //   width: 20.125rem;
  //   height: 20.125rem;
  //   right: 2rem;
  //   background-color: #199eb6;
  // }
}


@-webkit-keyframes mover {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-100px,-50px);
  }
}
@keyframes mover {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-100px,-100px);
  }
}

.app__footer {
  flex: 1;
  width: 100%;
  flex-direction: column;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.app__footer-cards {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 4em 2rem 2rem;

  .app__footer-card {
    min-width: 290px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(83.59deg, #6b358f49 36.52%,  #220a4771 98.8%);
    gap: 20px;
    backdrop-filter: blur(15px);
    transition: all 0.3s ease-in-out;

      &:nth-child(1) {
        border: 2px solid #596FB7;
      }
      &:nth-child(2) {
        border: 2px solid #65B741;
      }
      &:nth-child(3) {
        border: 2px solid #D63484;
      }

    img {
      width: 40px;
      height: 40px;
      margin: 0 0.7rem;
    }

    p {
      font-weight: 500;
    }
    a {
      text-decoration: none;
      font-weight: 500;
    }
    &:hover {
      box-shadow: 0 0 25px #6b358f49;
    }

    @media screen and (max-width: 450px) {
      width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

// .app__footer-cards .app__footer-card:last-child {
//   background-color: #f2f7fb;
// }

// .app__footer-cards .app__footer-card:last-child:hover {
//   box-shadow: 0 0 25px #f2f7fb;
// }

.app__footer-form {
  width: 60%;
  flex-direction: column;
  margin: 1rem 2rem;

  div {
    width: 100%;
    margin: 0.75rem 0;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    input,
    textarea {
      width: 100%;
      padding: 0.95rem;
      border: none;
      border-radius: 7px;
      background-color: var(--color-opacity);
      font-family: var(--font-base);
      color: var(--white-color);
      outline: none;
    }
    input::placeholder,
    textarea::placeholder {
      color: var(--white-color);
    }

    textarea {
      height: 170px;
    }

    &:hover {
      background-color: var(#451c862f);
      box-shadow: 0 0 25px #451c862f;
    }
  }

  button {
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    background-color: var(--);
    font-weight: 500;
    color: var(--white-color);
    outline: none;
    margin: 2rem 0 0 0;
    font-family: var(--font-base);
    background-color: var(--primary-color);
    transition: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: var(--color-opacity);
    }
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    margin: 1rem 0;
  }
}
